@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}

/* ============== Header ============================ */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3498DB;
}

header nav {
    flex: 1;
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    font-family: 'Jersey 10', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0px 50px 0px;
    padding: 0px;
    max-height: 100px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

header nav ul li {
    flex: 1;
    display: flex;
    justify-content: center;
}

header nav ul li button {
    background-color: #220764;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header nav ul li button:hover {
    background-color: #1A053E; 
}
