@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
}

/* ============== Header ============================ */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3498DB;
}

header nav {
    flex: 1;
    display: flex;
}

.logo-container {
    color: white;
    display: flex;  
    align-items: center;
    font-family: 'Jersey 10', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0px 50px 0px;
    padding: 0px;
    max-height: 100px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

header nav ul li {
    flex: 1;
    display: flex;
    justify-content: center;
}

header nav ul li button {
    background-color: #220764;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header nav ul li button:hover {
    transform: scale(1.05);
    background-color: #1A053E; 
}

.filter-container {
    text-align: center;
    margin-top: 20px;
}

.filter-container button {
    padding: 10px;
    margin: 5px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #444;
}

.title-catalog {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}


.product-catalog {
    background-color: white;
    margin-left: 50px;
    border-radius: 15px;
    margin-top: 20px;
}

.product-item {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
}

.product-item img {
    width: 80%;
    height: auto;
}

#btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-list button {
    color: white;
    background-color: green;
    padding: 18px;
    border: olive;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}
